/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Забезпечує, що сторінка займає мінімум всю висоту екрана */
}

/* Header */
.header {
    text-align: center;
    background-color: #282c34;
    color: white;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header h2 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
}

/* Image */
.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #282c34;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Switcher Button */
.switcher {
    margin-top: 20px;
    margin-left: 15px;
}

.switcher button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switcher button:hover {
    background-color: #0056b3;
}

/* Main content */
.content {
    max-width: 800px;
    padding: 20px;
}

.content h3 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    display: inline-block;
}

.content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container {
    flex: 1; /* Це дозволяє контейнеру займати весь доступний простір між заголовком та футером */
}

/* Experience Table */
.experience-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.experience-table th, .experience-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.experience-table th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 40px;
}

.contact-form button:hover {
    background-color: #218838;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative; /* Використовуємо відносне позиціонування */
    bottom: 0;
}